* {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 360px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h1,
a {
  color: #fff;
}

h1 {
  font-size: 2.67em;
  font-weight: 800;
}

a {
  text-decoration: none;
  font-size: 0.875em;
  font-weight: 700;
}

header,
.main-container,
.watchlist-container {
  background-color: #121212;
}

header {
  height: 208px;
  background-image: url("images/THJJRUhNlEc.png");
  border-radius: 5px 5px 0 0;
  padding: 2.2rem 0.5rem;
  text-align: center;
  position: relative;
}

.header-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}

.main-container,
.watchlist-container {
  display: flex;
  justify-content: center;
  align-items: top;
  padding-top: 4rem;
}

#empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#empty-state p {
  color: #2e2e2f;
  text-align: center;
}

/* form */
.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: -4rem;
  transform: translateX(-50%);
  z-index: 10;
  width: 100%;
}

.search-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 6px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

input {
  height: 2.5rem;
}

input#film-title {
  width: 12rem;
  color: #a5a5a5;
  background-color: #2e2e2f;
  padding-left: 2rem;
  background-image: url("images/SearchIcon.svg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 0.5rem;
  border: none;
  border-radius: 6px;
}

#search-btn {
  width: 5.75rem;
  height: 2.5rem;
  border: none;
  border-radius: 6px;
  background: #4b4b4b;
  cursor: pointer;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
}

/*display film list*/

#film-list {
  display: flex;
  align-content: baseline;
  flex-direction: column;
  padding: 1rem 0.5rem;
}

.film-card {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-bottom: 1.5px solid #2c2c2c;
  padding-right: 1.5rem;
}

.description {
  line-height: 1.2rem;
}

.poster-img {
  width: 6.1875rem;
  object-fit: cover;
  border-radius: 2.329px;
  padding: 1rem;
}

/*film details*/

.name-rate,
.details {
  display: flex;
  justify-content: start;
  gap: 0.5rem;
  align-items: center;
}

h2 {
  color: #fff;
  text-align: justify;
  font-size: 1.125rem;
  font-weight: 500;
}

p {
  color: #a5a5a5;
  font-size: 0.875rem;
  font-weight: 400;
}

p#not-found {
  color: #787878;
  text-align: center;
  font-size: 1.125em;
  font-weight: 700;
}

.btn {
  color: #fff;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 20px;
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
}

.plot {
  width: 100%;
}

/* watchlist*/

.add-more {
  display: flex;
}

#return-home {
  padding-left: 0.5rem;
}

/*footer*/
footer {
  text-align: center;
  background-color: #000;
  padding: 0.5rem;
  border-radius: 0 0 5px 5px;
}

footer,
footer a {
  color: #a5a5a5;
}

@media (min-width: 540px) {
  body {
    max-width: 600px;
  }
  .search-wrapper {
    flex-direction: row;
    gap: 0;
  }
  input#film-title {
    width: 19.75rem;
    border-radius: 6px 0 0 6px;
  }
  #search-btn {
    border-radius: 0 6px 6px 0;
  }
  .search-form {
    bottom: -1rem;
  }
}

@media (min-width: 768px) {
  body {
    max-width: 900px;
  }
  .search-wrapper {
    flex-direction: row;
    gap: 0;
  }
  input#film-title {
    width: 24rem;
    border-radius: 6px 0 0 6px;
  }
  #search-btn {
    border-radius: 0 6px 6px 0;
  }
  .search-form {
    bottom: -1rem;
  }
}
